<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @tweets.each do |e| %>
    <p>
        <%= e.message %>
        <%= ((Time.current - e.tdate)/60).to_i %>分
        <%=link_to '削除', "/tweets/#{e.id}", data: { turbo_method: :delete } %>
        <%=link_to '表示', "/tweets/#{e.id}" %>
        <%=link_to '編集', "/tweets/#{e.id}/edit" %>
    </p>
<% end %>

<%= link_to '新規追加', 'tweets/new' %>
